[submodule "auth"]
	path = auth
	url = git@github.com:stone1549/auth.git
[submodule "message"]
	path = message
	url = git@github.com:stone1549/message.git
[submodule "proxchat"]
	path = proxchat
	url = git@github.com:stone1549/proxchat.git
[submodule "proxchat-web"]
	path = proxchat-web
	url = git@github.com:stone1549/proxchat-web.git
[submodule "proxchat-hub"]
	path = proxchat-hub
	url = git@github.com:stone1549/proxchat-hub.git
[submodule "message-writer"]
	path = message-writer
	url = git@github.com:stone1549/message-writer.git
